{% extends "base.html" %}

{% block content %}
<!-- <!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trivia Challenge</title>-->

   <!-- Bootstrap core CSS  -->
  <!-- <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">   
  <link href="../static/vendor/bootstrap/css/ah.css" rel="stylesheet"/>

</head>

<body> -->

   <!-- Navigation  -->
<!--  <nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Trivia Challenge</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Trivia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact-Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->




<!--Trivia game here-->

<div class="row-1" style="background: yellow;">
    <div class="col-sm-9">
                                                            <h1>Let's get started!</h1>
        <div class="row-2" style="background: blue;">
            <div class="col-8 col-sm-6">
<!--                                                    Display trivia questions here        -->
                                                    <p>{{ trivia }}</p>
                <div class="row-3" style="background: yellow;">
                    <div class="col-4 col-sm-6">

<!--Answers and buttons here-->

                      <form method="POST" action=".">
                        {% csrf_token %}
                        <input type="radio" name="a0" value="{{ answer0 }}">{{ answer0 }}
                        <input type="radio" name="a1" value="{{ answer1 }}">{{ answer1 }}
                        <input type="radio" name="a2" value="{{ answer2 }}">{{ answer2 }}
                        <input type="radio" name="a3" value="{{ answer3 }}">{{ answer3 }}
                        <button>Submit</button>
                        <!-- {% for item in data %}
                          <p>item</p>

                          {% if answer0 in correct %}
                            <p>Correct! The answer is {{ correct }}</p>
                          {% endif %}

                          {% if answer1 in correct %}
                            <p>Correct!</p>
                          {% endif %}

                          {% if answer2 in correct %}
                            <p>Correct!</p>
                          {% endif %}

                          {% if answer3 in correct %}
                            <p>Correct!</p>
                          {% endif %}
                        {% endfor %} -->
                      </form>
                    <!-- <form method="POST" action=".">
                    <label for="btn" class="label" name="a0">{{ answer0 }}</label>
                    <label for="btn" class="label" name="a1">{{ answer1 }}</label>
                    <label for="btn" class="label" name="a2">{{ answer2 }}</label>
                    <label for="btn" class="label" name="a3">{{ answer3 }}</label>
                    <input type="checkbox" id="btn"/>
                    <div class="overlay">
                        <div class="popup">
                            <span class="title">Answer</span>
                            <span class= "answer"> {{ correct }} </span>
                            
                            <div class="social-buttons">
                              <label for="btn" class="red social">{{ next_question }}</label>
                            </div>
                        </div>
                      </form> -->
                    
            

                    </div>
               </div>
           </div>
       </div>
   </div>
 </div>

{% endblock %}


<!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.slim.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
