{% extends "base.html" %}

{% block content %}

<!--Trivia game here-->

<div class="row-1">
    <div class="col-sm-9">
                                                            <h1>Let's get started!</h1>
        <div class="row-2 triviaquestion">
            <div class="col-8 col-sm-6">

<!--Display trivia questions here-->

                                                    <p>{{ trivia }}</p>
                <div class="row-3" style="background: yellow;">
                    <div class="col-4 col-sm-6">

<!--Answers and buttons here-->

                      <form method="POST" action=".">
                        {% csrf_token %}
                        <input type="radio" name="a0" value="{{ answer0 }}">{{ answer0 }}<br>
                        <input type="radio" name="a1" value="{{ answer1 }}">{{ answer1 }}<br>
                        <input type="radio" name="a2" value="{{ answer2 }}">{{ answer2 }}<br>
                        <input type="radio" name="a3" value="{{ answer3 }}">{{ answer3 }}<br>
                        <button>Submit</button><br>
                      </form>
                   </div>
               </div>
           </div>
       </div>
   </div>
 </div>

{% endblock %}
